---
import GradientBackgroundLayout from '../layouts/GradientBackgroundLayout.astro';
import SearchBar from '../components/SearchBar.astro';
import Clock from '../components/Clock.astro';
import LinksGrid from '../components/LinksGrid.astro';
---

<GradientBackgroundLayout title="Welcome to Astro.">

  <div class="h-full w-full p-4 lg:p-8 xl:p-12 flex flex-col space-y-2 lg:space-y-4 xl:space-y-8">
    <div class="flex flex-col space-y-4">
      <div class="flex flex-row space-x-2">
        <Clock></Clock>
        <div class="flex-auto"></div>
      </div>
      <SearchBar></SearchBar>
    </div>
    <LinksGrid></LinksGrid>
  </div>

</GradientBackgroundLayout>
