---
import GradientBackgroundLayout from '../layouts/GradientBackgroundLayout.astro';
import SearchBar from '../components/SearchBar.astro';
import UpperLeftWidget from '../components/UpperLeftWidget.astro';
import UpperRightWidget from '../components/UpperRightWidget.astro';
import ShortcutsGrid from '../components/ShortcutsGrid.astro';

import yaml, { YAMLException } from 'js-yaml';
import type { Shortcut } from '../models/Shortcut';

const logAndReturnError = (logMessage: string, clientMessage: string, error?: any) => {
  console.error(logMessage, error);
  return new Response(clientMessage, {
      status: 500
    });
}

let shortcutsRaw: string | undefined = import.meta.env.SHORTCUTS;
if (!shortcutsRaw)
  shortcutsRaw = process.env.SHORTCUTS;
if (!shortcutsRaw)
  return logAndReturnError('Environment variable "SHORTCUTS" is undefined.', 'Environment variable "SHORTCUTS" is undefined.');

let shortcuts: Shortcut[] | unknown;
try {
  shortcuts = yaml.load(shortcutsRaw as string, {
    onWarning: (warning: YAMLException) =>
      console.warn('Yaml loading returned a warning.', warning)
  });
  if (!shortcuts || shortcuts === 'undefined')
    return logAndReturnError('Environment variable "SHORTCUTS" is not valid yaml.', 'Environment variable "SHORTCUTS" is not valid yaml.');
} catch (error) {
  return logAndReturnError('Failed to load yaml shortcuts.', 'Failed to load yaml shortcuts.', error);
}

---

<GradientBackgroundLayout title="Webb launcher ðŸ›°ï¸ Your personal launch platform to the web!">

  <div class="h-full w-full p-4 lg:p-8 xl:p-12 flex flex-col gap-y-2 md:gap-y-4 xl:gap-y-8">
    <div class="flex flex-col gap-y-2 md:gap-y-4 xl:gap-y-8">
      <div class="flex flex-row gap-x-2">
        <UpperLeftWidget></UpperLeftWidget>
        <div class="flex-auto"></div>
        <UpperRightWidget></UpperRightWidget>
      </div>
      <SearchBar></SearchBar>
    </div>
    <ShortcutsGrid shortcuts={shortcuts as Shortcut[]}></ShortcutsGrid>
  </div>

</GradientBackgroundLayout>
