---
const current = new Date();
---
<div class="flex-auto flex flex-col">
  <span id="clock-time" class="block whitespace-nowrap">{current.toLocaleTimeString()}</span>
  <span id="clock-date" class="block whitespace-nowrap">{current.toLocaleDateString()}</span>
</div>

<script is:inline>
  setInterval(() => {
    const current = new Date();
    document.getElementById('clock-time').innerHTML = current.toLocaleTimeString();
    document.getElementById('clock-date').innerHTML = current.toLocaleDateString();
  }, 1000)
</script>
