---
import LinksCard from './LinksCard.astro';
import type { Link } from '../models/Link';

import yaml from 'js-yaml';
const links = yaml.load(import.meta.env.LINKS) as {[k: string]: Link[]};
const linksTitles: string[] = [];
for (const title of Object.keys(links)) {
  linksTitles.push(title);
}
---
<div class="flex flex-row flex-wrap space-x-2 md:space-x-4 lg:space-x-8">
  {linksTitles.map(title => (
    <LinksCard title={title} links={links[title]}></LinksCard>
  ))}
</div>
