---
import type { Link } from '../models/Link';

export interface Props {
  title: string;
  links: Link[];
}

const { title, links } = Astro.props;

---
<div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
  <div class="bg-gray-100 border-b rounded-t-xl py-3 px-4 md:py-4 md:px-5 dark:bg-gray-800 dark:border-gray-700">
    <p class="mt-1 text-sm text-gray-500 dark:text-gray-500">
      { title }
    </p>
  </div>
  <div class="p-4 md:p-5 max-w-xs flex flex-col divide-y divide-gray-200 dark:divide-gray-700">
    {links.map(link => (
      <a class="inline-flex items-center gap-x-2 py-3 px-4 text-sm font-medium text-gray-800 dark:text-white hover:text-blue-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-600 dark:hover:text-blue-600" href={link.url}>
        {link.name}
      </a>
    ))}
  </div>
</div>
