---

---
<div>
  <label for="search-input" class="sr-only">Search</label>
  <div class="flex rounded-xl shadow-md">
    <input type="text" id="search-input" name="search-input" autofocus
      class="py-3 px-4 block w-full
      frosted-glass shadow-sm rounded-l-xl text-sm
      focus:z-10 focus:outline-none focus:ring focus:ring-gray-50 dark:focus:ring-gray-700
    " aria-label="web search input">
    <button type="button" id="search-button" class="inline-flex flex-shrink-0 justify-center items-center
      h-[2.875rem] w-[2.875rem] rounded-r-xl text-sm font-semibold
      frosted-glass hover:bg-gray-50 dark:hover:bg-gray-700
      focus:z-10 focus:outline-none focus:ring focus:ring-gray-50 dark:focus:ring-gray-700
    " aria-label="web search button">
      <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
    </button>
  </div>
</div>

<script is:inline>
  const searchInput = document.getElementById('search-input');
  const searchButton = document.getElementById('search-button')

  function search() {
    const searchTerms = searchInput.value;
    if (searchTerms) {
      window.location.href = 'https://duckduckgo.com/?q=' + encodeURIComponent(searchTerms);
    }
  }

  searchInput.addEventListener('keypress', ev => {
    if (ev.key === 'Enter') {
      ev.preventDefault();
      search();
    }
  });

  searchButton.addEventListener('click', ev => {
    ev.preventDefault();
    search();
  });
</script>
