---
import ShortcutsCard from './ShortcutsCard.astro';
import type { Shortcut } from '../models/Shortcut';

export interface Props {
  shortcuts: Shortcut[];
}

const { shortcuts } = Astro.props;
---
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 3xl:grid-cols-5 4xl:grid-cols-6
  justify-around content-around justify-items-stretch items-stretch
  gap-2 md:gap-4 lg:gap-8
">
  {shortcuts.filter(sh => sh.name && sh.children && sh.children.length > 0)
    .map(sh => (
      <ShortcutsCard shortcut={sh}></ShortcutsCard>
  ))}
</div>
