---
import ShortcutsCard from './ShortcutsCard.astro';
import type { Shortcut } from '../models/Shortcut';

export interface Props {
  shortcuts: Shortcut[];
}

const { shortcuts } = Astro.props;
---
<div class="flex flex-row flex-wrap gap-2 md:gap-4 lg:gap-8">
  {shortcuts.filter(sh => sh.name && sh.children && sh.children.length > 0)
    .map(sh => (
      <ShortcutsCard shortcut={sh}></ShortcutsCard>
  ))}
</div>
