---
import Clock from "./Clock.astro";
import DarkThemeSwitch from "./DarkThemeSwitch.astro";
---
<div class="flex flex-col
  frosted-glass-panel
  min-w-fit w-32 gap-1 md:gap-2
">
  <DarkThemeSwitch></DarkThemeSwitch>
  <Clock></Clock>
</div>
