---
import Clock from "./Clock.astro";
import DarkThemeSwitch from "./DarkThemeSwitch.astro";
---
<div class="flex flex-col justify-evenly
  frosted-glass-panel p-4 md:p-5
  w-48 gap-2 md:gap-4
">
  <DarkThemeSwitch></DarkThemeSwitch>
  <Clock></Clock>
</div>
