---
import '../assets/css/line-awesome.min.css'
import '../assets/css/octarine.css'

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="noindex,nofollow" />
		<title>{title}</title>
		<script is:inline>
			// On page load or when changing themes, best to add inline in `head` to avoid FOUC
			if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
					document.documentElement.classList.add('dark');
			} else {
					document.documentElement.classList.remove('dark')
			}
		</script>
	</head>
	<body class="text-gray-900 dark:text-gray-100">
		<slot />
	</body>
</html>

<style is:global>
	@tailwind base;
	@tailwind utilities;
	@tailwind components;

	@layer base {
		html {
			@apply min-h-screen;
		}

		body {
			@apply min-h-screen m-0;
		}
	}

	@layer utilities {
		.frosted-glass {
			@apply backdrop-blur bg-gray-100/50 dark:bg-slate-800/50;
		}
	}

	@layer components {
		.frosted-glass-panel {
			@apply frosted-glass shadow-md rounded-xl;
		}
	}
</style>
