---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script>
			// On page load or when changing themes, best to add inline in `head` to avoid FOUC
			if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
					document.documentElement.classList.add('dark');
			} else {
					document.documentElement.classList.remove('dark')
			}
	</script>
	</head>
	<body class="text-gray-900 dark:text-gray-100">
		<slot />
	</body>
</html>
<style>
	html {
		font-family: system-ui, sans-serif;
		height: 100vh;
	}

	body {
		margin: 0;
		height: 100vh;
	}

</style>
