name: Docker

on:
  push:
    branches: [main]
    tags: "*"
  pull_request:
    branches: [main]

env:
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
    steps:
      # - uses: earthly/actions-setup@v1
      #   with:
      #     version: v0.7.8

      - uses: actions/checkout@v4

      # - name: Put back the git branch into git (Earthly uses it for tagging)
      #   run: |
      #     branch=""
      #     if [ -n "$GITHUB_HEAD_REF" ]; then
      #       branch="$GITHUB_HEAD_REF"
      #     else
      #       branch="${GITHUB_REF##*/}"
      #     fi
      #     git checkout -b "$branch" || true

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@b4bedf8053341df3b5a9f9e0f2cf4e79e27360c6
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: LAUNCHER_VERSION=${{ steps.meta.outputs.version }}

      # - name: Earthly version
      #   run: earthly --version
      # - name: Run build
      #   run: earthly --push +docker
